body {
    background-color: #EFEFEF;
    font-size: 14px;
}

.CodeMirror {
    font-family: Arial, monospace;
    font-size: 14px !important;
}

table {
    font-size: 13px !important;
}

.container {
    max-width: 1500px;
    margin: 40px auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}

.file-upload-section {
    margin-left: -22px;
}

@media (max-width: 768px) {
    .action-btn {
        margin-top: 10px; /* Add some bottom margin for spacing */
        margin-bottom: 10px; /* Add some bottom margin for spacing */
    }
    .file-upload-section {
        margin-left: 0px;
    }
}

.CodeMirror {
    height: 600px;
    border: 1px solid #ccc;
    font-family: monospace;
}

.made-by-text {
    font-size: 16px !important;
}